/* You can add global styles to this file, and also import other style files */

/* TAG STYLES */
* {
    font-family: 'Roboto', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    color: #f1faee;
}
body {
    margin: 0;
    background-color: black;
}
h1, h2, h3 {
    font-weight: lighter;
}
div {
    font-size: 18px;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
