<div id="empty-sect"></div>
<div id="order-history" class="nav-sect">
    <a [routerLink]="['order-history']" 
       routerLinkActive="active-sect"
       ariaCurrentWhenActive="page">order-history</a>
</div>
<div id="branch-sales" class="nav-sect">
    <a [routerLink]="['branch-sales']" 
       routerLinkActive="active-sect" 
       ariaCurrentWhenActive="page">branch-sales</a>
</div>
<div id="product-performance" class="nav-sect">
    <a [routerLink]="['product-performance']" 
       routerLinkActive="active-sect" 
       ariaCurrentWhenActive="page">product-performance</a>
</div>
<div id="future-sales" class="nav-sect">
    <a [routerLink]="['future-sales']" 
       routerLinkActive="active-sect" 
       ariaCurrentWhenActive="page">future-sales</a>
</div>
