<section class="sect">
    <img class="section-icon" [src]="history_of_orders_icon_path"/>
    <div>
        History of Orders
    </div>
    <p>Find out the progression of sales and profit figures with order history analytics, displayed in line charts, and spanning data in multiple time intervals.</p>
    <a [routerLink]="['/analytics/order-history']">Check</a>
</section>
<section class="sect">
    <img class="section-icon" [src]="branch_sales_icon_path"/>
    <div>
        Branch Sales
    </div>S
    <p>Outline of different branches in generating revenue and selling volume. Showing top performing branches and locations, and detailing historical branch information.</p>
    <a [routerLink]="['/analytics/branch-sales']">Check</a>
</section>
<section class="sect">
    <img class="section-icon" [src]="product_performance_icon_path"/>
    <div>
        Product Performance and Preference
    </div>
    <p>Product category figures related to interested customer orders. showcasing best products sold in the business, generating the most profit.</p>
    <a [routerLink]="['/analytics/product-performance']">Check</a>
</section>
<section class="sect">
    <img class="section-icon" [src]="predictive_analytics_icon_path"/>
    <div>
        Predictive Analytics
    </div>
    <p>Applied Machine learning for forecasting profit and volume figures for the next upcoming year, quarter, and month, in different intervals.</p>
    <a [routerLink]="['/analytics/future-sales']">Check</a>
</section>
